<div class="inner_page">
<div class="small-12 medium-4 large-3 grid-content">
<h1>Restaurants</h1>
<% @restaurants.each do |restaurant| %>
<h3>ID: <%= restaurant["id"] %></h3>
<h3>Name: <%= restaurant["name"] %></h3>
<h3>Address: <%= restaurant["address"] %></h3>
<h3>City: <%= restaurant["city"] %></h3>
<h3>State: <%= restaurant["state"] %></h3>
<h3>Area: <%= restaurant["area"] %></h3>
<h3>Zip: <%= restaurant["postal_code"] %></h3>
<h3>Phone: <%= restaurant["phone"] %></h3>
<h3>Price: <%= restaurant["price"] %></h3>

<h3><a href="<%= restaurant["reserve_url"] %>">Reserve Now</a></h3>
<br>
<% end %>  
</div>
</div>