<div class="container">

  <script>
  $(document).ready(function() {
      $('#resultsdinner').DataTable();
  } );
  </script>

  <script>
  $(document).ready(function() {
      $('#resultsall').DataTable();
  } );
  </script>

  <script>
  $(document).ready(function() {
      $('#results_all').DataTable();
  } );
  </script>

  <script>
  $(document).ready(function() {
      $('#resultssports').DataTable();
  } );
  </script>

  <script>
  $(document).ready(function() {
      $('#resultsconcerts').DataTable();
  } );
  </script>

  <script>
  $(document).ready(function() {
      $('#resultstheaters').DataTable();
  } );
  </script>


<!-- All Results -->
<!-- Large modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#all">All</button>

    <div class="modal" id="all">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h2>All</h2>
          </div>
        <div class="table-responsive">
          <table id="resultsall" class="table table-striped table-bordered"  width="100%">
                  <thead>
                      <tr>
                          <th>Name</th>
                          <th>Category</th>
                          <th>Price</th>
                          <th>Theater Name</th>
                          <th>Date Time</th>
                          <th>Save</th>
                      </tr>
                  </thead>

                  <tbody>
                    <% @events.each do |event| %>
                      <tr>
                        <td><%= event["title"]%></td>
                        <td><%= event["type"] %></td>
                        <td><%= number_to_currency(event["stats"]["lowest_price"]) %></td>
                        <td><%= event["venue"]["name"] %></td>
                        <td><%= event["datetime_local"] %></td>
                        <td><span class="livicon " data-size="48" data-name="thumbs-up" data-duration="1000"></span></td>
                      </tr>
                    <% end %>

                  </tbody>
          </table>
        </div>
        </div>
      </div>
    </div>


<!-- Sports Results -->
<!-- Large modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#sports">Sports</button>

    <div class="modal" id="sports">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h2>Sports</h2>
          </div>
        <div class="table-responsive">
          <table id="resultssports" class="table table-striped table-bordered"  width="100%">
                  <thead>
                      <tr>
                          <th>Name</th>
                          <th>Category</th>
                          <th>Price</th>
                          <th>Theater Name</th>
                          <th>Date Time</th>
                          <th>Save</th>
                      </tr>
                  </thead>

                  <tbody>
                    <% @sports.each do |event| %>
                      <tr>
                        <td><%= event["title"]%></td>
                        <td><%= event["type"] %></td>
                        <td><%= number_to_currency(event["stats"]["lowest_price"]) %></td>
                        <td><%= event["venue"]["name"] %></td>
                        <td><%= event["datetime_local"] %></td>
                        <td><span class="livicon " data-size="48" data-name="thumbs-up" data-duration="1000"></span></td>
                      </tr>
                    <% end %>

                  </tbody>
          </table>
        </div>
        </div>
      </div>
    </div>

<!-- Concert Results -->
<!-- Large modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#concerts">Concerts</button>

    <div class="modal" id="concerts">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h2>Concerts</h2>
          </div>
        <div class="table-responsive">
          <table id="resultsconcerts" class="table table-striped table-bordered"  width="100%">
                  <thead>
                      <tr>
                          <th>Name</th>
                          <th>Category</th>
                          <th>Price</th>
                          <th>Theater Name</th>
                          <th>Date Time</th>
                          <th>Save</th>
                      </tr>
                  </thead>

                  <tbody>
                    <% @concerts.each do |event| %>
                      <tr>
                        <td><%= event["title"]%></td>
                        <td><%= event["type"] %></td>
                        <td><%= number_to_currency(event["stats"]["lowest_price"]) %></td>
                        <td><%= event["venue"]["name"] %></td>
                        <td><%= event["datetime_local"] %></td>
                        <td><span class="livicon " data-size="48" data-name="thumbs-up" data-duration="1000"></span></td>
                      </tr>
                    <% end %>

                  </tbody>
          </table>
        </div>
        </div>
      </div>
    </div>


<!-- Theater Results -->
<!-- Large modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#theater">Theater</button>

    <div class="modal" id="theater">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h2>Theater</h2>
          </div>
        <div class="table-responsive">
          <table id="resultstheaters" class="table table-striped table-bordered"  width="100%">
                  <thead>
                      <tr>
                          <th>Name</th>
                          <th>Category</th>
                          <th>Price</th>
                          <th>Theater Name</th>
                          <th>Date Time</th>
                          <th>Save</th>
                      </tr>
                  </thead>

                  <tbody>
                    <% @theaters.each do |event| %>
                      <tr>
                        <td><%= event["title"]%></td>
                        <td><%= event["type"] %></td>
                        <td><%= number_to_currency(event["stats"]["lowest_price"]) %></td>
                        <td><%= event["venue"]["name"] %></td>
                        <td><%= event["datetime_local"] %></td>
                        <td><span class="livicon " data-size="48" data-name="thumbs-up" data-duration="1000"></span></td>
                      </tr>
                    <% end %>

                  </tbody>
          </table>
        </div>
        </div>
      </div>
    </div>



<!-- Dinner Results -->
<!-- Large modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#dinner">Dinner</button>

    <div class="modal" id="dinner">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h2>Dinner</h2>
          </div>
        <div class="table-responsive">
          <table id="resultsdinner" class="table table-striped table-bordered"  width="100%">
                  <thead>
                      <tr>
                          <th>Name</th>
                          <th>Price</th>
                          <th>City</th>
                          <th>State</th>
                          <th>Zip</th>
                          <th>Save</th>
                      </tr>
                  </thead>

                  <tbody>
                    <% @restaurants.each do |restaurant| %>
                      <tr>
                        <td><%= restaurant["name"]%></td>
                        <td><%= restaurant["price"] %></td>
                        <td><%= restaurant["city"] %></td>
                        <td><%= restaurant["state"] %></td>
                        <td><%= restaurant["postal_code"] %></td>
                        <td><span class="livicon " data-size="48" data-name="thumbs-up" data-duration="1000"></span></td>
                      </tr>
                    <% end %>

                  </tbody>
          </table>
        </div>
        </div>
      </div>
    </div>



   <!-- <h2>Dinner</h2>
      <table id="dinner45" class="table table-striped table-bordered" cellspacing="5" cellpadding="5" width="100%">
              <thead>
                  <tr>
                      <th>Name</th>
                      <th>Price</th>
                      <th>City</th>
                      <th>State</th>
                      <th>Zip</th>
                      <th>Save</th>
                  </tr>
              </thead>

              <tbody>
                <% @restaurants.each do |restaurant| %>
                  <tr>
                    <td><%= restaurant["name"]%></td>
                    <td><%= restaurant["price"] %></td>
                    <td><%= restaurant["city"] %></td>
                    <td><%= restaurant["state"] %></td>
                    <td><%= restaurant["postal_code"] %></td>
                    <td><span class="livicon " data-size="48" data-name="thumbs-up" data-duration="1000"></span></td>
                  </tr>
                <% end %>

              </tbody>
      </table> -->

      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Collapsible Group Item #1
              </a>
            </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingTwo">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Collapsible Group Item #2
              </a>
            </h4>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="panel-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingThree">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Collapsible Group Item #3
              </a>
            </h4>
          </div>
          <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="panel-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
          </div>
        </div>
      </div>

<a class="button" href="/review">Review Your Events</a>

</div>
