<div class="inner_page">

<h1>Events</h1>
<% @seatgeeks.each do |seatgeek| %>
<h3>Title: <%= seatgeek["title"] %></h3>
<h3>Venue: <%= seatgeek["venue"]["name"] %></h3>
<h3>Type: <%= seatgeek["type"] %></h3>
<h3>Date/Time: <%= seatgeek["datetime_local"] %></h3>
<h3><a href="<%= seatgeek["url"] %>">Book Now</a></h3>
<br>
<% end %>

</div>