<div class="inner_page">

<h1>Sports</h1>
<% @sports.each do |sport| %>
<h3>Title: <%= sport["title"] %></h3>
<h3>Venue: <%= sport["venue"]["name"] %></h3>
<h3>Type: <%= sport["type"] %></h3>
<h3>Date/Time: <%= sport["datetime_local"] %> </h3>
<h3><a href="<%= sport["url"] %>">Book Now</a></h3>
<br>
<% end %>

</div>