<div class="inner_page">

<h1>Theater</h1>
<% @theaters.each do |theater| %>
<h3>Title: <%= theater["title"] %></h3>
<h3>Venue: <%= theater["venue"]["name"] %></h3>
<h3>Type: <%= theater["type"] %></h3>
<h3>Date/Time: <%= theater["datetime_local"] %></h3>
<h3><a href="<%= theater["url"] %>">Book Now</a></h3>
<br>
<% end %>

</div>