<div class="front_main">

<div class="row">

<div class="vertical grid-block">
<% @carted_events.each do |event| %>
<div class="grid-block"><b>Name: </b><%= event.name %></div>
<div class="grid-block"><b>Category: </b><%= event.category %></div>
<div class="grid-block"><b>Price: </b><%= event.price %></div>
<div class="grid-block"><b>Theater Name: </b><%= event.theater_name %></div>
<div class="grid-block"><b>Address: </b><%= event.address %></div>
<div class="grid-block"><b>City: </b><%= event.city %></div>
<div class="grid-block"><b>State: </b><%= event.state %></div>
<div class="grid-block"><b>Zip: </b><%= event.zip %></div>
<div class="grid-block"><b>Date Time: </b><%= event.datetime %></div>
<div class="grid-block"><b>Description: </b><%= event.description %></div>
<div class="grid-block"><b>Status: </b><%= event.status %></div>
<button type="button" class="success button">Confirm</button>
   <%= form_tag '/carted_events/:id', method: :delete do %>
      <%= hidden_field_tag :event_id, event.id %><br>
      <%= submit_tag 'Remove', class: "button" %>
    <% end %>
<% end %>
</div>
<br>
</div>
</div>